<section class="libros">
    <div class="container text-center">
        <h1 style="margin-top: 3rem;" class="animate__animated animate__fadeInDownBig">Haz click en el libro que desees leer</h1>
        <hr>
        <br><br>
        <div class="row">
            <div class="col-md-4 animate__animated animate__fadeInLeft animate__delay-1s manita" (click)="irUno()">
                <h2>Transformacción</h2>
                <img src="../../../books/theKingIsBlack/TEL_TRANSFORMACCION_V1_INDIVIDUAL-1.png" class="w-50" alt="">
            </div>
            <div class="col-md-4 animate__animated animate__zoomIn animate__delay-1s manita" (click)="irDos()">
                <h2>Transformacción 2</h2>
                <img src="../../../books/libro2/TEL_LIBRO_BALANCE-RECURSOS-HUMANOS_V1_1.png" class="w-50" alt="">
            </div>
            <div class="col-md-4  animate__animated animate__fadeInRight animate__delay-1s manita" (click)="irTres()">
                <h2>Transformacción 3</h2>
                <img src="../../../books/libro3/TEL_LIBRO VOL 3_BALANCE RECURSOS HUMANOS_V1_1.jpg" class="w-50" alt="">
            </div>
        </div>
    </div>
</section>