<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand">
        <img src="../../../../assets/logo.png" width="150" height="40" alt="">
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="https://flip-book-telecenter.web.app/Home">Libros<span class="sr-only">(current)</span></a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link">Libros</a>
            </li> -->
        </ul>
    </div>
</nav>